#load-more{
    width:100%;
    text-align: center;
    background:none;
    border:none;
    /*border-radius:80px;
    padding-top:40px;
    padding-bottom:40px;*/
    margin-top:5px;
    margin-bottom:5px;
    font-size:1.5em;
}

#load-more:hover{
    background-color:rgba(0,0,0,0.25);
    color:#ffffff;
}

.product-image{
    width:200px;
    height:200px;
}

.category-link{
    color:#000000;
}

ul.sidebar-categories li{
    list-style-type:  none;
}

ul.product-categories{
	
}

@media(min-width:768px){
    .category-image{
        width:200px;
    }
}
@media(max-width:767px){
    .category-image{
        width:100%;
    }
}

.product-search-form{
	border:none;
	border-bottom:1px solid lightgray;
	outline:none;
}

.product-search-form:focus{
	border-bottom:1px solid #000000;
}

.search-button{
	background-color:transparent;
	border:none;
	margin-left:-25px;
}

 .shop-sidebar-left{

 	list-style-type: none;
 	padding-left:0px !important;
 }
 
 .product-categories{
	 list-style-type: none;
	 padding-left:0px !important;
 }
 
 .product-categories li a{
	 color:#000 !important;
	 text-decoration: none !important;
 }
 
 ul.products{
	display:flex;
	flex-wrap:wrap;		 
}

li.product{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	flex-flow: wrap;
	flex-grow: 1;
}

li.product a .woocommerce-loop-product__title {
	color:#000 !important;
}

li.product a.woocommerce-loop-product__link{
	display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
}

ul.woocommerce-mini-cart{
	list-style-type:none;
	padding-left: 0px !important;
	width:100%;
	display:flex;
	flex-wrap:wrap;
}

li.woocommerce-mini-cart-item{
	display:flex;
	flex-direction: row;
	align-content:center;
	justify-content: start;
	flex-flow:wrap;
	
}

li.woocommerce-mini-cart-item a img{
	max-width:150px;
	max-height:150px;
	width:100%;
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	
}