ul.shop-sidebar-left ul{
	list-style-type:none;
}

ul.shop-sidebar-right ul{
	list-style-type:none;
}

h3.widget-title{
	margin-top:25px;
}

ul.product-categories, ul.product-collections{
	padding-left:0px !important;
}

ul.shop-sidebar-left{
	margin-top:25px;
}

ul.shop-sidebar-left ul{
	list-style-type: none;
	padding-left:0px !important;
}

ul.shop-sidebar-left h3.widget-title{
	font-size: 14px;
	text-align: left;
	border-bottom: 2px solid lightgrey;
	text-transform: uppercase;
	font-weight: bold;
}


.shop-sidebar-right .widget-title{
	text-align: center;
}


ul.shop-sidebar-left ul li a{
	text-transform: uppercase;
	font-size:14px;
	color:#000 !important;
	text-decoration: none !important;
}

ul.sidebar-categories li{
    list-style-type:  none;
}

ul.product-categories{
	
}

@media(min-width:768px){
    .category-image{
        width:200px;
    }
}
@media(max-width:767px){
    .category-image{
        width:100%;
    }
}

.product-search-form{
	border:none;
	border-bottom:1px solid lightgray;
	outline:none;
}

.product-search-form:focus{
	border-bottom:1px solid #000000;
}