html *{
    font-family:"Verdana Italics";
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

.row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position:fixed;
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
  z-index: 100;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.footer{
    background:#000000;
    color:#ffffff;
    width:100%;
    min-height:100px;
}


h1.page-title{
	text-align: center;
	width:100%;
}

.page-title-row{
  background-color:#f3f3f3;
}
